.fondocolumn1
{
	background-color: #A3C9A8;
	border-radius: 20px;
}
.fondocolumn2
{
	background-color:#E5A93E ;
	border-radius: 20px;
}
.fondocolumn3
{
	background-color:#8B5A2B;
	border-radius: 20px;
}
.fondocolumn4
{
	background-color: #E2725B;
	border-radius: 20pxss;
}